# Python相关
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-log.txt
pip-delete-this-directory.txt

.DS_Store
Thumbs.db
*.swp
*.swo

models/
bin/
*.pth
*.ckpt
*.onnx
*.trt

*.log
output/
temp/